#logo{
    height: 150%;
    width: 150%;
}

#logo_footer{
    height: 80%;
    width: 80%;
}

.titre_carousel{
   color: #FFFFFF;
    font-size : 30px;
}

.sous_titre_carousel{
    color: #FFFFFF;
    font-size:18px;
}